{% extends "bootstrap/base.html" %}
{% block title %} MineTexter {% endblock title %}

{% block head %} 
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script src={{ url_for('serve_script', path='./sketch.js') }}></script> 
{% endblock head %}

{% block content %}
<div class="container" align=center> 
    <h1>MineTexter</h1> 
    <!-- canvas goes here --> 
    <div id="frame" align="center"></div> 
    <h1>Text guesses to 1-(831)-713-1577</h1>
    <h3>Usage: text an ordered pair ( x , y )</h3>
    <h3>Hint: x and y values range from 1-20</h3>
</div>  
{% endblock content %} 